<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444690692136-hsn5kp209h76d9k8g2tpctbpeka8ppuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444690692136-hsn5kp209h76d9k8g2tpctbpeka8ppuu</string>
	<key>API_KEY</key>
	<string>AIzaSyBBG3npmIc0mEGuxzTh-i0yWLopexW5BaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>444690692136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>piercetu.OppHack19T2</string>
	<key>PROJECT_ID</key>
	<string>opphack2019-1</string>
	<key>STORAGE_BUCKET</key>
	<string>opphack2019-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444690692136:ios:ce1ab2c8451fd502ed1d1d</string>
	<key>DATABASE_URL</key>
	<string>https://opphack2019-1.firebaseio.com</string>
</dict>
</plist>